body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgb(128, 86, 255),rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 100% 400%;
    animation: fxd 15s infinite;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@keyframes fxd{
    0% {
        background-position: top;
    }
    50% {
        background-position: center;
    }
    100% {
        background-position: bottom;
    }
}
/*------------CONTENEDOR--------------*/
.contenedor{
    width: 400px;
    height: 400px;
    background-color: rgb(27, 27, 27);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(133, 62, 247);
}

h2{
    text-align: center;
    color: rgb(137, 97, 255);
    padding: 20px;
}

input{
    padding: 10px;
    width: 60%;
    margin: 5px auto;
    background-color: rgb(93, 93, 93);
    border-radius: 7px;
}

input:last-child{
    background-color: rgb(137, 97, 255);
    font-size: 17px;
    cursor: pointer;
}

input::placeholder{
    color: rgb(187, 187, 187);
}

.p{
    display: flex;
    color: rgb(157, 157, 157);
    margin-left: 70px;
    gap: 0 60px;
}

p:last-child{
    color: rgb(152, 117, 255);
}
/* ----------FONDO---------- */
.fondo{
    width: 110px;
    height: 110px;
    background-color: rgb(16, 16, 16);
    transition: 1s background-color;
}

.fondo:hover{
    background-color: rgb(137, 97, 255);
    transition: transition;
}

.background{
    display: grid;
    grid-template-columns: repeat(15, 110px);
    grid-template-rows: auto;
    gap: 2px;
}

/* --------TELEFONOS---------- */
@media (max-width:431px) {
    .contenedor{
        width: 300px;
        height: 300px;
        transform: translate(-50%, -50%);
    }
    .fondo{
        width: 142px;
        height: 142px;
    }
    
    .background{
        display: grid;
        grid-template-columns: repeat(3, 142px);
        grid-template-rows: auto;
        gap: 2px;
    }
    
    input{
        padding: 10px;
        width: 60%;
        margin: 4px auto;
        background-color: rgb(93, 93, 93);
        border-radius: 7px;
    }

    h2{
        text-align: center;
        color: rgb(137, 97, 255);
        padding: 1px;
    }

    p{
        margin: 20px 0;
    }

    .p{
        margin-left: 50px;
        gap: 10px;
    }
}

